.menu-editor-header {
    padding: 10px;
}

.menu-textarea {
    border-radius: 8px;
    width: 80%;
    margin-bottom: 10px;
    text-indent: 5px;
    padding: 5px;
}

.editor-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.save-btn, .clear-btn {
    border-radius: 20px;
    border-color: white;
    padding: 10px;
    border-style: none;
    background-color: black;
    color: white;
}