@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.filters {
  position: relative;
}

.filter-button {
  padding: 0.75rem 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: black;
  color: white;
}

.filter-button svg {
  font-weight: 900;
  height: 17px;
  width: 17px;
  color: white;
}

.filter-button:hover {
  background: #f5f5f5;
}

.filter-options {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 150;
  min-width: 200px;
  font-family: Inter;
}

.filter-options > div {
  margin-bottom: 1rem;
}

.filter-options label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.filter-options select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.set-preference-button {
  background-color: #ff9800;
  border-radius: 5px;
  color: white;
  border: .5px solid rgba(226, 92, 14, 0.412);
  padding: 8px;
  font-family: Inter;
}

.search-button {
  background-color: inherit;
  padding: 8px;
  border-radius: 5px;
  border: .5px solid gray;
  font-family: Inter;
}